#LEVEL 1

In [43]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
lst = [i for i in numbers if i > 0]
lst

[2, 4, 6]

In [5]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
lst = [l for i in list_of_lists for j in i for l in j]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
lst = [(i,1,i,i**2,i**3,i**4,i**5) for i in range(11)]
lst

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

In [36]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]


countries
output = [[country.upper(), country[:3].upper(), city.upper()] for a in countries for country, city in a]

print(output)

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [39]:
g =  [[{'country': j[0],'city' : j[1]}] for i in countries for j in i]
g

[[{'country': 'Finland', 'city': 'Helsinki'}],
 [{'country': 'Sweden', 'city': 'Stockholm'}],
 [{'country': 'Norway', 'city': 'Oslo'}]]

In [41]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

n = [j[0] + ' ' + j[1] for i in names for j in i]
n

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']